@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
 
html, body {
  height: 100%;
  width: 100%;
  color: #222;
  font-family: 'Lato' , sans-serif;
  background-color: rgba(0, 0, 0, 0.8);
}

/*Navbar*/
.navbar {
  padding: .8rem;

}

.navbar-nav li {
  padding-right: 20px;

}

.nav-link {
  font-size: 1.1rem !important;
  font-family: 'Lato' , sans-serif;
}

/*Image slider */
/* Intro text */
.intro-text  {
    color: aliceblue;
    background-color: black;
}

.intro {
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-family: inherit;
}

/*Map and Feedback*/
.padding {
    padding-bottom: 2rem;
}



/* footer */
footer {
    background-color: #3f3f3f;
    color: #d5d5d5;
    padding-top: 2rem;
}

.foot-link {
    color: #d5d5d5
}

.foot-link:hover {
    text-decoration: none;
    color: antiquewhite;
    
}


hr.light {
    border-top: 1px solid #d5d5d5;
    width: 75%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}

hr.light-100 {
    border-top: 1px solid #d5d5d5;
    width: 100%;
    margin-top: .8rem;
    margin-bottom: 1rem;
}
/* Media query*/
@media (max-width: 340px) {
    .map iframe {
        width: 300px;
    }
}
.row {
    padding: 0;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}
@media (max-width:768px) {
.card-image img {
    inline-size: auto;
}
}

@media (width:768px) {
    .card-image img {
        inline-size: auto;
    } 
}
@media (max-width: 407px) {
    .card-image img {
        width: 100px;
    }
    .intro {
        font-size: larger;
    }
}

@media (max-width: 345px) {
    .map iframe {
        width: 260px;
    }
    .intro {
        font-size: large;
    }
}

.card-body {
    padding: 0;
    margin: 0;
    padding-left: 30px;
}

.all-card {
    padding: 20px;
    margin: 20px;
}

.single-card {
    background-color: white;
    border-radius: 5px;
    border-color: rgba(0, 0, 0, 0.8);
}

.single-card:hover {
    background-color: white;
}

.map {
    border-top-left-radius: 5px;
}